<%= simple_form_for(commentable.comments.new) do |f| %>
  <%= hidden_field_tag 'commentable', "#{commentable.class.to_s}/#{commentable.id}" %>
  <%= f.text_area :body, simditor: 450 %>

  <ul class="post-btn">
    <li><input type="reset" value="取消"/></li>
    <li><%= f.submit '回复'%></li>
  </ul>
<% end %>