<%= simple_form_for [commentable, commentable.comments.new ] do |f| %>

  <%= f.kindeditor :body, window_onload: true, cols:"30", rows:"10" %>

  <ul class="post-btn">
    <li>取消</li>
    <li><%= f.submit '回复'%></li>
  </ul>
<% end %>