<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "轮播图", admin_ads_path%>
  </li>
  <li class="list-group-item">
    帖子管理
  </li>
  <li class="list-group-item">
    用户管理
  </li>
  <li class="list-group-item">
    节点管理
  </li>
</ul>