<<<<<<< HEAD
<li> <%= link_to "注册", signup_path(return_to: params[:return_to]) %> </li>
<li> <%= link_to "登录", login_path %> </li>
=======
<li><%= link_to "注册", "http://www.kaikeba.com/users/sign_up?" %></li>
<li><%= link_to "登录", login_path %></li>
>>>>>>> 4b1b633a3f06313cc2377d70092095e7c259c517
