* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0; }

.footer {
  height: 300px;
  background: #18222d; }
  .footer .con {
    width: 75%;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden; }
    .footer .con a {
      color: #fff; }
    .footer .con .logo {
      width: 150px;
      float: left;
      margin-right: 4%; }
    .footer .con .foot-nav {
      overflow: hidden;
      float: left;
      width: 45%; }
      .footer .con .foot-nav .about, .footer .con .foot-nav .other {
        float: left;
        overflow: hidden;
        width: 100%; }
      .footer .con .foot-nav .about {
        height: 60px; }
        .footer .con .foot-nav .about li {
          float: left;
          width: 25%;
          text-align: center; }
      .footer .con .foot-nav .other ul {
        float: left;
        width: 25%;
        text-align: center; }
    .footer .con .connect {
      float: right;
      width: 27%; }
      .footer .con .connect .add-btn {
        width: 55%;
        float: left; }
        .footer .con .connect .add-btn .attention, .footer .con .connect .add-btn .listen {
          width: 100%;
          margin-bottom: 10px; }
      .footer .con .connect .chat {
        width: 37%;
        float: right;
        margin-bottom: 10px; }
      .footer .con .connect .qq {
        width: 37%;
        float: right; }
  .footer .copy {
    background: #121a21;
    color: #474b4e;
    text-align: center;
    padding: 30px 0; }
