* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  background: #f4f4f4; }
  .wrapper .main {
    width: 75%;
    margin: 20px auto;
    overflow: hidden;
    position: relative; }
    .wrapper .main .left, .wrapper .main .right {
      float: left; }
    .wrapper .main .left {
      width: 70%; }
      .wrapper .main .left .hidden {
        display: none; }
      .wrapper .main .left .crumbs {
        color: #666;
        margin-bottom: 20px; }
        .wrapper .main .left .crumbs a {
          color: #666; }
      .wrapper .main .left .post-list {
        background: #fff;
        border-radius: 5px;
        padding: 10px; }
        .wrapper .main .left .post-list dl {
          overflow: hidden;
          padding: 20px;
          border-bottom: 1px solid #ccc; }
          .wrapper .main .left .post-list dl:last-child {
            border: 0; }
          .wrapper .main .left .post-list dl dt, .wrapper .main .left .post-list dl dd {
            float: left; }
          .wrapper .main .left .post-list dl dt {
            width: 15%;
            text-align: center;
            color: #b8b8b8; }
            .wrapper .main .left .post-list dl dt p {
              font-size: 14px; }
          .wrapper .main .left .post-list dl dd {
            width: 68%;
            padding-left: 2%; }
          .wrapper .main .left .post-list dl .post-name a {
            color: #3d85cc; }
          .wrapper .main .left .post-list dl .post-name .tag-top, .wrapper .main .left .post-list dl .post-name .tag-new, .wrapper .main .left .post-list dl .post-name .tag-best, .wrapper .main .left .post-list dl .post-name .tag-mark {
            border-radius: 5px;
            width: 40px;
            height: 20px;
            line-height: 20px;
            text-align: center; }
          .wrapper .main .left .post-list dl .post-name .tag-top, .wrapper .main .left .post-list dl .post-name .tag-new {
            border: 1px solid #ff5454;
            color: #ff5454; }
          .wrapper .main .left .post-list dl .post-name .tag-best {
            border: 1px solid #1c9733;
            color: #1c9733; }
          .wrapper .main .left .post-list dl .post-info {
            color: #555555;
            font-size: 14px;
            margin-top: 15px; }
            .wrapper .main .left .post-list dl .post-info span, .wrapper .main .left .post-list dl .post-info var {
              float: left;
              margin: 0 5px; }
          .wrapper .main .left .post-list dl .con {
            width: 83%;
            float: right;
            padding: 15px 0;
            color: #666; }
          .wrapper .main .left .post-list dl .share-to {
            padding-left: 17%;
            overflow: hidden;
            width: 82%;
            color: #999; }
            .wrapper .main .left .post-list dl .share-to a {
              color: #999; }
            .wrapper .main .left .post-list dl .share-to .share-btn {
              overflow: hidden;
              width: 60%;
              float: left; }
              .wrapper .main .left .post-list dl .share-to .share-btn li {
                float: left; }
            .wrapper .main .left .post-list dl .share-to .reply-btn {
              overflow: hidden;
              width: 30%;
              float: right; }
              .wrapper .main .left .post-list dl .share-to .reply-btn li {
                float: left;
                width: 40%;
                height: 25px;
                margin: 0 5%;
                text-align: center;
                border-radius: 5px;
                background: #e0e0e0;
                color: #7a7a7a; }
                .wrapper .main .left .post-list dl .share-to .reply-btn li img {
                  vertical-align: middle; }
          .wrapper .main .left .post-list dl .choice {
            width: 7%;
            float: right; }
        .wrapper .main .left .post-list .sofa {
          width: 94%; }
          .wrapper .main .left .post-list .sofa dd {
            width: 82%;
            color: #555555; }
            .wrapper .main .left .post-list .sofa dd .time {
              color: #a1a1a1;
              margin: 10px 0; }
          .wrapper .main .left .post-list .sofa .reply-con {
            float: right;
            width: 83%; }
            .wrapper .main .left .post-list .sofa .reply-con .top-btn {
              overflow: hidden;
              margin-top: 10px;
              line-height: 40px; }
              .wrapper .main .left .post-list .sofa .reply-con .top-btn .inform {
                color: #a1a1a1;
                float: left; }
              .wrapper .main .left .post-list .sofa .reply-con .top-btn .add-btn {
                width: 30%;
                height: 40px;
                line-height: 40px;
                float: right;
                text-align: center; }
                .wrapper .main .left .post-list .sofa .reply-con .top-btn .add-btn li {
                  float: left;
                  width: 50%; }
                .wrapper .main .left .post-list .sofa .reply-con .top-btn .add-btn .bac {
                  background: #f6f6f6;
                  border-radius: 5px 5px 0 0; }
            .wrapper .main .left .post-list .sofa .reply-con .hidden {
              display: hidden; }
            .wrapper .main .left .post-list .sofa .reply-con .reply {
              background: #f6f6f6;
              width: 100%; }
              .wrapper .main .left .post-list .sofa .reply-con .reply .username {
                color: #000;
                margin: 10px 0; }
              .wrapper .main .left .post-list .sofa .reply-con .reply .time {
                float: left;
                width: 50%; }
                .wrapper .main .left .post-list .sofa .reply-con .reply .time span {
                  margin-right: 20px; }
              .wrapper .main .left .post-list .sofa .reply-con .reply .reply-btn {
                float: right;
                width: 10%;
                margin: 10px 0;
                color: #a1a1a1; }
              .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea {
                width: 92%;
                padding: 0 20px; }
                .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .top-btn {
                  margin: 10px 0; }
                  .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .top-btn .others {
                    width: 60%;
                    float: left; }
                    .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .top-btn .others .click {
                      color: #288ce6; }
                  .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .top-btn .reply-host {
                    width: 15%;
                    float: right; }
                .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .textarea {
                  overflow: hidden; }
                  .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .textarea textarea {
                    display: block;
                    width: 99%;
                    height: 100px;
                    border-radius: 5px; }
                  .wrapper .main .left .post-list .sofa .reply-con .reply .reply-textarea .textarea .reply-btn {
                    width: 16%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 5px;
                    color: #fff;
                    background: #288ce6; }
      .wrapper .main .left .post-reply {
        margin-top: 20px;
        background: #fff; }
        .wrapper .main .left .post-reply dl {
          overflow: hidden;
          padding: 20px; }
          .wrapper .main .left .post-reply dl dt, .wrapper .main .left .post-reply dl dd {
            float: left; }
          .wrapper .main .left .post-reply dl dt {
            width: 15%;
            text-align: center;
            color: #b8b8b8; }
            .wrapper .main .left .post-reply dl dt p {
              font-size: 14px; }
          .wrapper .main .left .post-reply dl dd {
            width: 82%;
            padding-left: 2%; }
            .wrapper .main .left .post-reply dl dd textarea {
              width: 97%;
              height: 200px;
              border-radius: 5px; }
            .wrapper .main .left .post-reply dl dd .post-btn {
              overflow: hidden;
              width: 35%;
              float: right; }
              .wrapper .main .left .post-reply dl dd .post-btn li {
                float: left;
                width: 35%;
                margin: 10px 5%;
                padding: 6px 2%;
                text-align: center;
                border-radius: 5px; }
                .wrapper .main .left .post-reply dl dd .post-btn li:nth-child(1) {
                  background: #dee0e0;
                  color: #555555; }
                .wrapper .main .left .post-reply dl dd .post-btn li:nth-child(2) {
                  background: #288ce6;
                  color: #fff; }
    .wrapper .main .right {
      width: 27%;
      margin-left: 3%;
      position: relative;
      margin-top: 40px; }
      .wrapper .main .right .search {
        width: 99%;
        height: 40px;
        border-radius: 5px;
        font-size: 20px; }
      .wrapper .main .right .search-bar {
        position: absolute;
        top: 13px;
        right: 10px;
        border-left: 2px solid #ccc;
        padding-left: 5px; }
      .wrapper .main .right .new-topic {
        width: 100%;
        line-height: 50px;
        text-align: center;
        border-radius: 5px;
        margin: 20px 0;
        background: #288ce6;
        color: #fff;
        font-size: 20px; }
      .wrapper .main .right .topic h2, .wrapper .main .right .share h2 {
        margin: 40px 0 20px; }
      .wrapper .main .right .topic ul {
        overflow: hidden; }
        .wrapper .main .right .topic ul li {
          width: 48%;
          height: 30px;
          line-height: 30px;
          color: #555555;
          text-align: center;
          float: left;
          margin-bottom: 5px;
          background: #eeeded;
          border-radius: 5px; }
          .wrapper .main .right .topic ul li:hover {
            background: #288ce6;
            color: #fff; }
          .wrapper .main .right .topic ul li:nth-child(odd) {
            margin-right: 4%; }
      .wrapper .main .right .share {
        margin-bottom: 50px; }
        .wrapper .main .right .share h2 {
          margin: 40px 0 20px; }
        .wrapper .main .right .share dl {
          border-bottom: 1px dashed #ccc;
          padding: 8px 0; }
          .wrapper .main .right .share dl dt {
            font-size: 16px;
            color: #555555; }
          .wrapper .main .right .share dl dd {
            font-size: 14px;
            color: #adadad; }
