*{
	margin: 0;
	padding: 0;
}
ul{	
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
$font-gray: #555;
$font-blue: #3d85cc;
$bac-blue: #288ce6;
$bac-gray: #eeeded;
$bac-deep-blue: #18222d;
$bac-orange: #faaa3c;
.header{
	.top{
		overflow: hidden;
		background: #fff;
		width: 75%;
		height: 50px;
		padding: 0 13%;
		.logo{
			width: 160px;
			padding: 0 10px;
			float: left;
		}
		.top-nav{
			float: right;
			overflow: hidden;
			width: 40%;
			li{
				float: left;
				margin: 14px 15px;
				color: #b0b0b0;
				a{
					color: #b0b0b0;
				}
			}
		}
	}
	.nav{
		width: 75%;
		height: 65px;
		line-height: 65px;
		margin: 20px auto;
		background: #fff;
		border-radius: 5px;
		li{
			float: left;
			width: 14%;
			overflow: hidden;
			text-align: center;
			&:nth-child(1){
				a{
					background: $bac_blue; 
					color: #fff;
				}
			}
			a{
				color: $font-gray;
				border-radius: 5px;
				width: 80%;
				height: 37px;
				line-height: 37px;
				margin: 15px auto;
				display: block;
				&:hover{
					background: $bac_blue; 
					color: #fff;
				}
			}
		}
	}
}