    <div class="header">
      <div class="top">
        <a href="">
          <%= image_tag "logo.png" %>
        </a>
        <ul class="top-nav">
          <li><a href="/">返回开课吧首页</a></li>
          <li><a href=""><img src="" alt=""></a></li>
          <li><a href=""><img src="" alt=""></a></li>
          <li><a href=""><img src="" alt=""></a></li>
          <li class="username">Jonathan<var></var></li>
        </ul>
      </div>
      <ul class="nav">
        <li><a href="">首页</a></li>
        <li><a href="">精华部落</a></li>
        <li><a href="">新手zone</a></li>
        <li><a href="">学习小组</a></li>
        <li><a href="">互动答疑</a></li>
        <li><a href="">劲爆活动</a></li>
        <li><a class="more" href="">更多</a></li>
        <li class="write-times"><a href="">已连续签到21次</a></li>
      </ul>
    </div>