    <div class="header">
      <div class="top">
        <a href="">
          <%= image_tag "logo.png" %>
        </a>
        <ul class="top-nav">
          <li><a href="/">返回开课吧首页</a></li>
          <li><a href=""><img src="" alt=""></a></li>
          <li><a href=""><img src="" alt=""></a></li>
          <li><a href=""><img src="" alt=""></a></li>
          <li class="username">Jonathan<var></var></li>
        </ul>
      </div>
      <ul class="nav">
        <li><a href="">首页</a></li>
        <% @nodes.each do |node| %>
        <li><%= link_to node.name,posts_path(:node_id => node.id)%></li>
        <% end %>
        <li><a class="more" href="">更多</a></li>
        <li class="write-times"><a href="">已连续签到21次</a></li>
      </ul>
    </div>